html {
  font-family: Georgia, Verdana, sans-serif;
  font-size: 1.25em; /* 20 / 16 = 1.25 */
  line-height: 1.2em; /* 24px line height */
  padding: 0.3125em; /* 5px / 16 = 0.3125 */
}

h1,
h2,
h3,
h4 {
  font-family: Spectral, serif;
}

h2,
ul,
p {
  padding-bottom: 1.2em; /* 24px / 20 = 1.2 */
}

a {
  color: #b3ddf2;
}

header {
  text-align: center;
  margin: auto;
}

footer {
  width: 100%;
}

footer ul li {
  display: block;
  float: left;
}

footer ul li pi {
  margin: 10px;
}

.home h2 {
  padding-bottom: 0;
}

.centerFooter {
  width: 100%;
  display: flex;
  justify-content: center;
 
}

.navbarTop {
  width: 1320px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
}

.footerContainer {
  height: auto;
  background-color: #b3ddf2;
  opacity: 0.8;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

strong {
  font-weight: bolder;
}

#chdc-address {
  width: 50%;
  padding: 20px;
  border: 5px;
  border-color: white;
}

#chdc-photo {
  width: 50%;
  padding: 20px;
  border: 5px;
  border-color: white;
}

.about {
  padding-top: 80px;
  padding-right: 50px;
}

/*.about > .quote {
  font-size: 1.25em; /*25 /20 = 1.25em*/
/*padding-left: 3em;
  padding-right: 10em;
  padding-top: 0;
  line-height: 1.28em; /* 32/ 25 = 1.28*/
/*  color: #ff0000;
  font-style: italic;
  text-decoration: none;
  padding-bottom: 50px;
} */

.about p {
  margin-bottom: 0;
}

.quote {
  background: #f9f9f9;
  border-left: 10px solid #ff0000;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C", "\201D", "\2018", "\2019";
  font-style: italic;
  text-decoration: none;
  font-weight: lighter;
  font-family: Spectral, serif;
}

.about > .quote {
  margin-top: 0;
  margin-bottom: 50px;
}
.quote:before {
  color: #ff0000;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.quote:after {
  content: no-close-quote;
}

.person {
  margin: 30px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
}

.person_name {
  font-size: 1.5em;
}

.wrapper {
  width: 960px;
  margin: auto;
}

.header-spotlight {
  width: 100%;
  height: 600px;
  text-align: center;
  background-image: url("../images/news.jpg");
}

.button-spotlight {
  text-align: center;
  display: inline-block;
  height: 100px;
  width: 100%;
  background-color: white;
  padding: 20px;
}

.button-spotlight a {
  text-decoration: none;
}

.button-spotlight:hover {
  background-color: #ff0000;
  opacity: 0.6;
}

.header-team {
  width: 100%;
  height: 600px;
  text-align: center;
  background-image: url("../images/team.jpg");
}

.content1 {
  width: 47%;
  margin: 10px;
}

.content1 ul {
  display: grid;
  grid-template-rows: 1fr;
}

.content1 ul li {
  width: 100%;
  height: 75px;
}

.content1 ul li a {
  text-decoration: none;
}

.content1 ul li:hover {
  background-color: #ff0000;
  opacity: 0.6;
  color: white;
}

.header-inspiring_change {
  width: 100%;
  height: 600px;
  text-align: center;
  background-image: url("../images/current-project.jpg");
}

.header-bhl {
  width: 100%;
  height: 600px;
  text-align: center;
  background-image: url("../images/bhl.jpg");
}

/* image overlay */
.container-spotlight {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

.image {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #b3ddf2;
}

.container-spotlight:hover .overlay {
  opacity: 0.95;
}

.text {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* end of image overlay */

#about,
footer {
  padding-top: 80px;
}

#BHL {
  background-color: white;
}

@media screen and (max-width: 1320px) {
  .navbarTop {
    width: 100%;
    padding-left: 0;
  }
}

.completed-project .centerFooter {
  background-color: #b3ddf2;
}

@media screen and (max-width: 960px) {
  .wrapper {
    width: 100%;
    margin: auto;
  }

  .content1 {
    width: 100%;
    float: left;
    margin: 10px;
  }

  #chdc-address {
    width: 100%;
    padding: 20px;
    border: 5px;
    border-color: white;
  }

  #chdc-photo {
    visibility: hidden;
    position: absolute;
  }

  img {
    width: 100%;
  }

  .img-overide {
    width: 100px;
  }
  .person {
    margin: 30px;
    display: block;
    width: 100%;
  }

  .person img {
    width: 50%;
  }

  .text {
    font-size: 16px;
  }

  .about > .quote {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .text {
    font-size: 10px;
  }

  .about > .quote {
    font-size: 18px;
    padding-right: 0.5em;
  }
}
